body{
    background-image: url("Screenshot\ 2025-02-18\ 223643.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
    width: 1080;
    height: 1080;
}